*{
    padding: 0;
    margin: 0;
}
.sfondo{
    background-image: url(../img/pattern.png);
    background-color: blueviolet;
    background-size: contain;
    background-repeat: repeat; 
}
.logo{
    width: 200px;
    height: 100px;
    padding:10px;

}
/* Inizio della parte MAIN  */

section, p{
    padding: 20px 10px;
}

 /* SPECIFICA DELLA PRIMA FASE CON FOTO  */

h4, h5{
    color: grey;
}
a:link{
    text-decoration:none ;
}
/* Testo e lista  */
li{
    margin: 0 20px;
}
span{
    background-color: yellow;
}


/* tabella  */
.tabella{
    border-collapse: unset;
    border-spacing: 0;
}
thead{
    background-color: rgb(10, 90, 239);
    color: white;
    text-align: left;
}
tbody{
    background-color: rgb(29, 181, 232);
}
td, th{
    min-width: 400px;
    
}
#whitebg{
    background-color: white;
}