*{
    padding: 0;
    margin: 0;
}
.sfondo{
    background-image: url(../img/pattern.png);
    background-color: blueviolet;
    background-size: contain;
    background-repeat: repeat; 
}
.logo{
    width: 200px;
    height: 100px;
    padding:10px;

}
/* Inizio della parte MAIN  */

section, p{
    padding: 20px 10px;
}

 /* SPECIFICA DELLA PRIMA FASE CON FOTO  */

h4, h5{
    color: grey;
}
a:link{
    text-decoration:none ;
}
/* Testo e lista  */
span{
    background-color: yellow;
}